.homeDiv {
    background-image: url(../images/perrolanding.jpg);
    background-color: aqua;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1000px;
}

.homeDiv button {
    padding: 20px;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.478);
    margin-top: 18%;
}

.homeDiv button:hover {
    background-color: white;
    cursor: pointer;
}

.homeDiv h1 {
  padding-top: 50px;
  padding-bottom: 50px;
  letter-spacing: 10px;
  font-size: 60px;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgba(255, 255, 255, 0.478);
    text-align: center;
}

.homeDiv h1:hover {
    background-color: rgba(255, 255, 255, 0.678);
    letter-spacing: 15px;
}