

.cardDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: #3e0b064e;

}

.cardDiv div{
    border: 1px solid white;
    margin: 5px;
    background-color: none
    
}

.cardDiv div h1 {
    font-size: 25px;
    color: black;
    text-decoration: underline black;

}
.cardDiv div:hover {
    background-color: white;
   
    
}

.cardDiv img{
    width: auto;
    height: 300px;
}

.cardDiv span {
    text-align: center;

}

.cardDiv button {
    margin-bottom: 10px;
}

.cardDiv p {
    color: black;
    font-weight: bold;
    font-size: 15px ;
    text-decoration: underline black;
}


