.form {
    background-color: #3e0b064e;
    height: 1200px;
}

.form h1 {
    padding-top: 15px;
    border-top: black 3px solid;
    width: 100%;
}

.form label{
    margin: 5px;
}

.form select {
    margin-top: 10px;
    background-color: #3e0b068a;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    border: solid 2px black ;
    color: white;
    padding: 5px;
}

.buttonCreate{
    background-color: #3e0b068a;
    width: 105%;
    font-size: 15px ;
    font-weight: bold;
}

.buttonTemp {
    width: 40%;
    padding: 10px;
    margin: 10px;
    background-color: #3e0b068a;
    color: white;
    font-weight: bold;
}

.form button:hover {
    background-color: #3e0b0664;
    cursor: pointer;
}

.form select:hover {
    background-color: #3e0b064f;
    cursor: pointer;
}



.flex{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 0;
    background-color: rgba(255, 255, 255, 0.383);
    width: 70%;
    margin-left: 15%;
    border-radius: 5%;
    height: 60%;
}



.flex img {
    width: 400px;
    height: 400px;
}


.minMax {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.minMax input {
    margin-right: 10px;
}

.form input {
    margin: 10px;
}

.dogName {
    font-weight: bold;
    font-size: 20px;
}

.dogNameInput {
    width: 50%;
    text-align: center;
    padding: 10px;
}

.spanTemp {
    word-spacing: 30px;
    margin: 5px;
}