.filter {
    color: white;
    background-color: #3e0b068a;
    margin-left: 2.5%;
    border: solid 2px #3e0b068a;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    margin-top: 0.5% ;
    margin-bottom: 0.5%;
}