.filter {
    color: white;
    background-color: rgb(62, 208, 208);
    margin-left: 2.5%;
    border: solid 2px rgb(45, 124, 127);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    margin-top: 0.5% ;
    margin-bottom: 0.5%;
}