.divSearch {
    margin: 5px
}

.divSearch input {
    font-size: 20px;
    margin-right: 1%;
    width: 25%
}

.divSearch button {
    font-size: 20px;
    height: 40px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border:rgb(45, 124, 127) 1px solid;
    background-color: rgb(62, 208, 208);

}

.divSearch button:hover {
    background-color: rgb(67, 230, 230);
    cursor: pointer;

}