.navbar {
    margin-bottom: 80px; 
}

.navbar ul {
list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #713933c7;    
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar ul li {
    display: inline-block;
    text-transform:uppercase;

    
}

.navbar ul li a {
    display: block;
    padding: 20px;
    text-align:  center;
    text-decoration: none;
    margin: 10px;
    margin-left: 5px;
    margin-right: 5px;
    color: black;
    font-weight: bold;
    font-size: 20px;

}

.navbar ul li a:hover{
 background-color: #64342e80;
 color: white;
}